.widget {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.passwd {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.send {
    width: 1px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: flex;
    justify-content: center;
}

.empresa {
    width: 350px;
    height: 90px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .widget {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .login {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .passwd {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .empresa {
        width: 250px;
        height: 70px;
        margin-bottom: 20px;
    }
}